[submodule "vendor/Mintaka"]
	path = vendor/Mintaka
	url = https://github.com/Tribufu/Mintaka
[submodule "vendor/premake-core"]
	path = vendor/premake-core
	url = https://github.com/TribufuForks/premake-core
	branch = vendor
